*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container .main input{
    border: none;
    outline: none;
    width: 270px;
    padding: 12px;
    border: 1px solid black;
    margin: 12px;
}
.container .main button{
    width: 120px;
    margin: 12px;
    padding: 10px;
    cursor: pointer;
}
.container .main  a{
    font-size: 18px;
    font-size: 600;
}




